@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
}

body{
    margin: 0;
    padding: 100px;
}

.menuprincipal{
    position: fixed;
    top: 10px;
    right: 100px;
}

.itensprincipal{
    text-decoration: none;
    color: #444444;
    padding: 10px;
    margin: 0px;
}

.itensprincipal:hover{
    text-decoration: none;
    color: #ff85e5;
    background-color: #a3015f;
}

.menuorganelas{
    text-decoration: none;
    color: #444444;
}

.itensorganelas{
    text-decoration: none;
    color: #444444
}

.itensorganelas:hover{
    text-decoration: none;
    color: #a3015f;
}

.logo{
    width: 100px;
    top: 10px;
}

li{
    display: inline-block;
    margin: 0 20px;
}

h1{
    font-family: "Playfair Display", serif;
    color: #333333;
}

p{
    color: #666666;
}

header{
    position: fixed;
    top: 0px;
}

footer{
    background-color: #2F2F2F;
    color: #FFFFFF;
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
}